# **Part 1: Web Scraping (Using Python)**

In [5]:
import requests
from bs4 import BeautifulSoup
from tqdm import tqdm
import pandas as pd
import re

In [ ]:
url = "https://books.toscrape.com/catalogue/page-.html"
all_link = []
for i in range(1,51):
    j = f'https://books.toscrape.com/catalogue/page-{i}.html'
    all_link.append(j)

all_link

['https://books.toscrape.com/catalogue/page-1.html',
 'https://books.toscrape.com/catalogue/page-2.html',
 'https://books.toscrape.com/catalogue/page-3.html',
 'https://books.toscrape.com/catalogue/page-4.html',
 'https://books.toscrape.com/catalogue/page-5.html',
 'https://books.toscrape.com/catalogue/page-6.html',
 'https://books.toscrape.com/catalogue/page-7.html',
 'https://books.toscrape.com/catalogue/page-8.html',
 'https://books.toscrape.com/catalogue/page-9.html',
 'https://books.toscrape.com/catalogue/page-10.html',
 'https://books.toscrape.com/catalogue/page-11.html',
 'https://books.toscrape.com/catalogue/page-12.html',
 'https://books.toscrape.com/catalogue/page-13.html',
 'https://books.toscrape.com/catalogue/page-14.html',
 'https://books.toscrape.com/catalogue/page-15.html',
 'https://books.toscrape.com/catalogue/page-16.html',
 'https://books.toscrape.com/catalogue/page-17.html',
 'https://books.toscrape.com/catalogue/page-18.html',
 'https://books.toscrape.com/catalogue/page-19.html',
 'https://books.toscrape.com/catalogue/page-20.html',
 'https://books.toscrape.com/catalogue/page-21.html',
 'https://books.toscrape.com/catalogue/page-22.html',
 'https://books.toscrape.com/catalogue/page-23.html',
 'https://books.toscrape.com/catalogue/page-24.html',
 'https://books.toscrape.com/catalogue/page-25.html',
 'https://books.toscrape.com/catalogue/page-26.html',
 'https://books.toscrape.com/catalogue/page-27.html',
 'https://books.toscrape.com/catalogue/page-28.html',
 'https://books.toscrape.com/catalogue/page-29.html',
 'https://books.toscrape.com/catalogue/page-30.html',
 'https://books.toscrape.com/catalogue/page-31.html',
 'https://books.toscrape.com/catalogue/page-32.html',
 'https://books.toscrape.com/catalogue/page-33.html',
 'https://books.toscrape.com/catalogue/page-34.html',
 'https://books.toscrape.com/catalogue/page-35.html',
 'https://books.toscrape.com/catalogue/page-36.html',
 'https://books.toscrape.com/catalogue/page-37.html',
 'https://books.toscrape.com/catalogue/page-38.html',
 'https://books.toscrape.com/catalogue/page-39.html',
 'https://books.toscrape.com/catalogue/page-40.html',
 'https://books.toscrape.com/catalogue/page-41.html',
 'https://books.toscrape.com/catalogue/page-42.html',
 'https://books.toscrape.com/catalogue/page-43.html',
 'https://books.toscrape.com/catalogue/page-44.html',
 'https://books.toscrape.com/catalogue/page-45.html',
 'https://books.toscrape.com/catalogue/page-46.html',
 'https://books.toscrape.com/catalogue/page-47.html',
 'https://books.toscrape.com/catalogue/page-48.html',
 'https://books.toscrape.com/catalogue/page-49.html',
 'https://books.toscrape.com/catalogue/page-50.html']

In [25]:
Title = []
Price = []
Availability = []
Rating = []
for i in tqdm(all_link):
    data = requests.get(i)
    soup = BeautifulSoup(data.text, "html.parser")
    container = soup.find_all('li', class_ = "col-xs-6 col-sm-4 col-md-3 col-lg-3")
    for i in container:
        try:
            Title.append(i.h3.a['title'])
        except:
            Title.append(None)
        try:
            value = i.find("p", class_ = "price_color").text
            final_value = float(re.sub(r'[^0-9.]',"", value))
            #re.sub use for replace all the word exclude that letter which is mention inside the sqaure bracket
            Price.append(final_value)
        except:
            Price.append(None)
        try:
            Availability.append(i.find("p", class_ = "instock availability").get_text(strip = True))
            #Here I am getting multiple spaces so that i use strip
        except:
            Availability.append(None)
        try:
            k = i.find('p', class_='star-rating').get('class')
            l = k[1].lower()
            if l == "one":
                Rating.append(1) #here is the value written in words so I converted into the number
            elif l == "two":
                Rating.append(2)
            elif l == "three":
                Rating.append(3)
            elif l == "four":
                Rating.append(4)
            elif l == "five":
                Rating.append(5)
            else:
                Rating.append(0)
        except:
            Rating.append(None)

100%|██████████| 50/50 [01:27<00:00,  1.76s/it]

In [27]:
df = pd.DataFrame({
    "Title" : Title,
    "Price" : Price,
    "Ratings" : Rating,
    "Availability" : Availability
})
df

,Title,Price,Ratings,Availability
0,A Light in the Attic,51.77,3,In stock
1,Tipping the Velvet,53.74,1,In stock
2,Soumission,50.10,1,In stock
3,Sharp Objects,47.82,4,In stock
4,Sapiens: A Brief History of Humankind,54.23,5,In stock
...,...,...,...,...
995,Alice in Wonderland (Alice's Adventures in Won...,55.53,1,In stock
996,"Ajin: Demi-Human, Volume 1 (Ajin: Demi-Human #1)",57.06,4,In stock
997,A Spy's Devotion (The Regency Spies of London #1),16.97,5,In stock
998,1st to Die (Women's Murder Club #1),53.98,1,In stock
999,"1,000 Places to See Before You Die",26.08,5,In stock

In [28]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Title         1000 non-null   object
 1   Price         1000 non-null   float64
 2   Ratings       1000 non-null   int64
 3   Availability  1000 non-null   object
dtypes: float64(1), int64(1), object(2)
memory usage: 31.4+ KB

In [29]:
df.isnull().sum()

Title           0
Price           0
Ratings         0
Availability    0
dtype: int64

In [30]:
df.duplicated().sum()

np.int64(0)

In [ ]:
df.to_csv("Book_Details.csv",index = False)